* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
img,
svg {
  max-width: 100%;
}
:root {
  --blue: #4c2fff;
  --black: #34353a;
  --text-black: #8b8b8b;
  --gradient: linear-gradient(to bottom right, #4c2fff, #8374ff);
}
body {
  font-family: "Inter Tight";
  color: var(--text-black);
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}
main{
    margin: auto;
    max-width: 1146px;
}
header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
header > a {
  background-color: var(--blue);
  text-decoration: none;
  padding: 2rem;
}
header > a img {
  width: 60px;
}
header .menu {
  display: flex;
  flex: 1 1 auto;
  padding-left: 2rem;
  justify-content: space-between;
}
header nav {
  display: flex;
  gap: 0.5rem;
}
header nav a:hover {
  color: var(--blue);
  transition: color 0.5s ease;
}
header nav a {
  text-decoration: none;
  color: var(--black);
  padding: 1rem;
}
header .cta a {
  text-decoration: none;
  background: var(--black);
  padding: 1rem 1.5rem;
  color: #fff;
  font-size: 0.85rem;
  margin-right: 1rem;
  display: inline-flex;
  border-radius: 8px;
}
header .cta a:hover {
  background-color: var(--blue);
  transition: all ease 0.4s;
}
header .mobile {
  display: none;
  width: 80px;
  height: 40px;
}
header .mobile label {
  cursor: pointer;
}
header .mobile input {
  display: none;
}
header .mobile .bar {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  position: relative;
  flex-direction: column;
}
header .mobile .bar span {
  height: 4px;
  width: 40px;
  background-color: var(--black);
  transition: all ease 0.2s;
}
header .mobile input:checked + .bar span:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
  transition: all ease 0.2s;
}
header .mobile input:checked + .bar span:nth-child(2) {
  transition: all ease 0.2s;
  position: absolute;
  transform: rotate(-45deg);
}

@media screen and (max-width: 735px) {
  header .menu {
    z-index: 5;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    left: -200%;
    width: 250px;
    max-width: 40%;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    padding: 0;
    transition: left 0.6s ease;
  }
  header .menu.active {
    left: 0;
    transition: left 0.2s ease;
  }
  header nav {
    flex-direction: column;
    padding: 1rem;
  }
  header .cta a {
    border-radius: 0;
    flex: 1 1 auto;
    margin-right: 0;
    /* display: flex; */
  }
  header .cta {
    background-color: red;
    display: flex;
    padding: 0;
  }
  header .mobile {
    display: inline-flex;
  }
}

/* Main sections */
#hero {
  padding-left: 10%;
  padding-top: 5rem;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
section{
    background: url("../assets/dots.svg"), url("../assets/dots.svg");
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 0% 50%, 95% 0%;
    animation: movebg 5s ease infinite;
}
@keyframes movebg {
  0% {
    background-position: 0% 40%, 90% 0%;
  }
  50% {
    background-position: 0% 50%, 95% 0%;
  }
  100% {
    background-position: 0% 40%, 90% 0%;
  }
  /* 100%{
        background-position: 50% 0%, 80% 0%;
    } */
}
#hero > div:first-child {
  display: flex;
  align-items: center;
}
#hero > div:first-child img {
  width: 500px;
  max-width: 45%;
}
#hero > div:first-child p {
  max-width: 50ch;
}
#hero > div:first-child h1 {
  font-size: 3.98rem;
  max-width: 90%;
  position: relative;
  line-height: 1.2;
}
#hero > div:first-child h1::before {
  position: relative;
  display: block;
  height: 10px;
  width: 40%;
  content: " ";
  background-color: var(--blue);
}

#hero > div:nth-child(2) {
  display: flex;
  padding: 3rem 2rem 2rem calc(2rem + 200px);
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  background-image: url("../assets/banner_img.png");
  background-repeat: no-repeat;
  background-size: 180px 100%;
  /* background-blend-mode: color-dodge; */
  object-fit: cover;
}
#hero > div:nth-child(2) h5 {
  color: #fff;
  font-weight: normal;
  font-size: 1.1rem;
}
#hero > div:nth-child(2) div {
  display: flex;
  gap: 1.5rem;
}
#hero > div:nth-child(2) div img {
  width: 50%;
  scale: 1;
  transition: scale 0.2s ease;
}
#hero > div:nth-child(2) div a:hover img {
  scale: 1.5;
  transition: scale 0.3s ease;
}
@media screen and (max-width: 600px) {
  #hero > div:first-child img {
    display: none;
  }
  #hero > div:first-child div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #hero > div:nth-child(2) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}


#service{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 1rem 4rem;
}
:is(#service, section) > h5{
    color: var(--blue);
}
section h4{
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 2.5rem;
}
#service > h4{
    text-align: center;
}

.n-svg {
  fill: #7194e6;
  fill-rule: nonzero;
  width: 20px;
  height: 40px;
}
#service #cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
    gap: 2rem;
}
@media screen and (max-width: 700px) {
    #service  #cards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 425px) {
    #service #cards{
        grid-template-columns: 1fr;
    }
}
 #service .card{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    filter: drop-shadow(0 0 5px #e7ebf588) ;
    text-decoration: none;
}
#service .card p{
    color: var(--text-black);
}
#service .card h4{
    font-size: 1.2rem;
    margin-bottom: 0;
}
#service .card:hover p{
    color: #fff;
    opacity: .75;
    transition: all .1s ease;
}
#service .card:hover h4{
    color: #fff;
    transition: color .1s ease;
}
#service .card img{
    width: 20%;
}
#service .card:hover{
    background: var(--gradient);
    border-radius: 0 0 3rem 0;
    transition: border-radius .2s ease;
}
#service #cards .card:hover .n-svg {
  fill: #fff;
}
#brand{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 4rem;
}
#brand > img{
    width: 400px;
    max-width: 45%;
}
#brand > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#brand > div > h4 {
    margin-bottom: .5rem;
}
#brand > div > h5 {
    color: var(--blue);
}
@media screen and (max-width: 873px) {
    #brand > div > h4,section > h4,#statistics > div h4 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 760px) {
    #brand{
        flex-direction: column;
        align-items: flex-start;
        border: red;
    }
}
#brand > div .flex{
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
}
#brand > div .flex h6 {
    font-size: 1rem;
}
#btns{
    display: flex;
    align-items: center;
    gap: 1rem;
}
[class*='btn']{
    background-color: #fff;
    font-size: .9rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--blue);
}
[class*='btn']:is(:hover,:focus){
    outline: var(--blue) solid 2px;
    outline-offset: 2px;
}
[class*='-primary']{
    background: var(--gradient);
    color: #fff;
}
[class*='btn'] img{
    width: 20px;
}
#statistics{
    display: flex;
    align-items: center;
    padding: 2rem;
    margin-top: 5rem;
    gap: 1rem;
    justify-content: space-between;
}
#statistics > img{
    width: 500px;
    max-width: 45%;
}
@media screen and (max-width: 570px) {
    #statistics > img{
     display: none;
    }
    
}
#statistics > div h5{
    color: var(--blue);
    margin-bottom: .5rem;
}
#statistics > div h4{
    max-width: 16ch;
    margin-bottom: .7rem;
}
#statistics > div p {
    max-width: 50ch;
    margin-bottom: 1rem;
}
#statistics > div a{
    display: inline-flex;
}

#build, #team{
    text-align: center;
    padding: 4rem 2rem;
}
:is(#build,#team,section) > h4{
    max-width: 20ch;
    margin: 0 auto 4rem;
    line-height: 1.2;
}
#build #grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
#build #grid .span-2{
    grid-column: span 2;
}
#build #grid > div{
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
#build #grid > div .text{
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: all .2s ease;
    background-color: #4b4c5085;
    color: #fff;
    backdrop-filter: blur(5px);
    width: 100%;
    padding: 1rem;
    font-size: 1.3rem;
}
#build #grid > div:hover .text{
    bottom: 0;
    transition: bottom .2s ease;
}
#build #grid > div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media screen and (max-width: 768px) {
    #build #grid{
        gap: 1rem;
    }
}
@media screen and (max-width: 550px) {
    #build #grid{
        grid-template-columns: auto;
    }
}

#team #grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
#team #grid img{
    height: 90px;
    width: 90px;
    object-fit: cover;
    border-radius: 90px;
}
#team #grid h5{
    font-size: 1.1rem;
}
#team #grid p{
    font-size: .85rem;
}

#plan{
    padding: 4rem 2rem;
    text-align: center;
}
#plan > h4{
    margin-bottom: 1rem;
}
.toggle-div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggle-div label{
    position: relative;
    padding: 1rem 0;
}
.toggle-div label input{
    display: none;
}
.toggle-div label div {
    position: relative;
    background: #8274ff70;
    cursor: pointer;
    height: 25px;
    width: 50px;
    margin-inline: .5rem;
    border-radius: 25px;
    overflow: hidden;
}
.toggle-div label span{
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: var(--blue);
}
.toggle-div label input:checked + div span{
    left: 50%;
}

#plan #cards{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 1rem 1rem;
    gap: 2rem;
}
#plan #cards .card{
    width: 40%;
    padding: 2rem;
    background-color: #fff;
    border-radius: 16px;
    filter: drop-shadow(0 6px 3px #e7ebf588);
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
    align-items: flex-start;
}
@media screen and (max-width: 745px) {
    #plan #cards .card{
        width: 500px;
        max-width: 95%;
        margin-inline: auto;

        /* flex: 0 1 80%; */
    }
}
#plan #cards .card:hover{
    background: var(--gradient);
    cursor: pointer;
    color: #fff;
}
#plan #cards .card:hover a{
    background: #fff;
    color: var(--blue);
}
#plan #cards .card :not(a,h5,h4){
    opacity: .95;
}
#plan #cards .card h5{
    font-size: 1.1rem;
}
#plan #cards .card:hover :is(h5, h4){
    color: #fff;
}
#plan #cards .card h4 span{
    font-weight: normal;
    font-size: .9rem;
}
#plan #cards .card h4{
    margin-bottom: 0rem;
}
#plan #cards .card ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#plan #cards .card ul li{
    list-style: none;
}
#plan #cards .card ul li::before{
    content: '';
    display: inline-block;
    height: 15px;
    margin-right: 1rem;
    width: 15px;
    background-image: url('../assets/tick.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    vertical-align: middle;
}
#plan #cards .card:hover ul li::before{
    background-image: url('../assets/tick-hover.svg');
}
#start{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--gradient);
    padding: 4rem;
    border-radius: 8px;
    margin: 2rem;
    color: #ffffffc4;
}
#start h4{
    color: #fff;
    margin-bottom: .5rem;
}
#start a:hover{
    background-color: var(--black);
    color: #fff;
    outline: none;
}
@media screen and (max-width: 770px) {
    #start{
        flex-direction: column;
        gap: 1rem;
        text-align: center;
        border-radius: 0;
        margin: 0;
    }
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 4rem 2rem ;
}
.logo-own{
    display: flex;
}
.logo-own svg{
    width: 140px;
}
footer .socials{
    display: flex;
    gap: 1.5rem;
}
footer .socials svg{
    fill: var(--black);
    width: 20px;
}
footer .socials a{
    display: flex;
}
footer .socials a:hover svg{
    fill: var(--blue);
}