* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
img,
svg {
  max-width: 100%;
}
:root {
  --blue: #4c2fff;
  --black: #34353a;
  --text-black: #8b8b8b;
  --gradient: linear-gradient(to bottom right, #4c2fff, #8374ff);
}
body {
  font-family: "Inter Tight";
  color: var(--text-black);
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black);
}
main{
    margin: auto;
    max-width: 1146px;
}
header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}
header > a {
  background-color: var(--blue);
  text-decoration: none;
  padding: 2rem;
}
header > a img {
  width: 60px;
}
header .menu {
  display: flex;
  flex: 1 1 auto;
  padding-left: 2rem;
  justify-content: space-between;
}
header nav {
  display: flex;
  gap: 0.5rem;
}
header nav a:hover {
  color: var(--blue);
  transition: color 0.5s ease;
}
header nav a {
  text-decoration: none;
  color: var(--black);
  padding: 1rem;
}
header .cta a {
  text-decoration: none;
  background: var(--black);
  padding: 1rem 1.5rem;
  color: #fff;
  font-size: 0.85rem;
  margin-right: 1rem;
  display: inline-flex;
  border-radius: 8px;
}
header .cta a:hover {
  background-color: var(--blue);
  transition: all ease 0.4s;
}
header .mobile {
  display: none;
  width: 80px;
  height: 40px;
}
header .mobile label {
  cursor: pointer;
}
header .mobile input {
  display: none;
}
header .mobile .bar {
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  position: relative;
  flex-direction: column;
}
header .mobile .bar span {
  height: 4px;
  width: 40px;
  background-color: var(--black);
  transition: all ease 0.2s;
}
header .mobile input:checked + .bar span:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
  transition: all ease 0.2s;
}
header .mobile input:checked + .bar span:nth-child(2) {
  transition: all ease 0.2s;
  position: absolute;
  transform: rotate(-45deg);
}

@media screen and (max-width: 735px) {
  header .menu {
    z-index: 5;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    left: -200%;
    width: 250px;
    max-width: 40%;
    display: flex;
    background-color: #fff;
    flex-direction: column;
    padding: 0;
    transition: left 0.6s ease;
  }
  header .menu.active {
    left: 0;
    transition: left 0.2s ease;
  }
  header nav {
    flex-direction: column;
    padding: 1rem;
  }
  header .cta a {
    border-radius: 0;
    flex: 1 1 auto;
    margin-right: 0;
    /* display: flex; */
  }
  header .cta {
    background-color: red;
    display: flex;
    padding: 0;
  }
  header .mobile {
    display: inline-flex;
  }
}

/* Main sections */
#hero {
  padding-left: 10%;
  padding-top: 5rem;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
section{
    background: url("../assets/dots.svg"), url("../assets/dots.svg");
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 0% 50%, 95% 0%;
    animation: movebg 5s ease infinite;
}
@keyframes movebg {
  0% {
    background-position: 0% 40%, 90% 0%;
  }
  50% {
    background-position: 0% 50%, 95% 0%;
  }
  100% {
    background-position: 0% 40%, 90% 0%;
  }
  /* 100%{
        background-position: 50% 0%, 80% 0%;
    } */
}
#hero > div:first-child {
  display: flex;
  align-items: center;
}
#hero > div:first-child img {
  width: 500px;
  max-width: 45%;
}
#hero > div:first-child p {
  max-width: 50ch;
}
#hero > div:first-child h1 {
  font-size: 3.98rem;
  max-width: 90%;
  position: relative;
  line-height: 1.2;
}
#hero > div:first-child h1::before {
  position: relative;
  display: block;
  height: 10px;
  width: 40%;
  content: " ";
  background-color: var(--blue);
}

#hero > div:nth-child(2) {
  display: flex;
  padding: 3rem 2rem 2rem calc(2rem + 200px);
  justify-content: space-between;
  align-items: center;
  background-color: var(--blue);
  background-image: url("../assets/banner_img.png");
  background-repeat: no-repeat;
  background-size: 180px 100%;
  /* background-blend-mode: color-dodge; */
  object-fit: cover;
}
#hero > div:nth-child(2) h5 {
  color: #fff;
  font-weight: normal;
  font-size: 1.1rem;
}
#hero > div:nth-child(2) div {
  display: flex;
  gap: 1.5rem;
}
#hero > div:nth-child(2) div img {
  width: 50%;
  scale: 1;
  transition: scale 0.2s ease;
}
#hero > div:nth-child(2) div a:hover img {
  scale: 1.5;
  transition: scale 0.3s ease;
}
@media screen and (max-width: 600px) {
  #hero > div:first-child img {
    display: none;
  }
  #hero > div:first-child div {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
  #hero > div:nth-child(2) {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}


#service{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 1rem 4rem;
}
:is(#service, section) > h5{
    color: var(--blue);
}
section h4{
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 2.5rem;
}
#service > h4{
    text-align: center;
}

.n-svg {
  fill: #7194e6;
  fill-rule: nonzero;
  width: 20px;
  height: 40px;
}
#cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
    gap: 2rem;
}
@media screen and (max-width: 700px) {
    #cards{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 425px) {
    #cards{
        grid-template-columns: 1fr;
    }
}
.card{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    /* -webkit-backdrop-filter: drop-shadow(0 0 5px red); */
    filter: drop-shadow(0 0 5px #e7ebf5) ;
    text-decoration: none;
}
.card p{
    color: var(--text-black);
}
.card h4{
    font-size: 1.2rem;
    margin-bottom: 0;
}
.card:hover p{
    color: #fff;
    opacity: .75;
    transition: all .1s ease;
}
.card:hover h4{
    color: #fff;
    transition: color .1s ease;
}
.card img{
    width: 20%;
}
.card:hover{
    background: var(--gradient);
    border-radius: 0 0 3rem 0;
    transition: border-radius .2s ease;
}
#cards .card:hover .n-svg {
  fill: #fff;
}
#brand{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 4rem;
}
#brand > img{
    width: 400px;
    max-width: 45%;
}
#brand > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
#brand > div > h4 {
    margin-bottom: .5rem;
}
#brand > div > h5 {
    color: var(--blue);
}
@media screen and (max-width: 873px) {
    #brand > div > h4,#service > h4 {
        font-size: 2rem;
    }
}
@media screen and (max-width: 760px) {
    #brand{
        flex-direction: column;
        align-items: flex-start;
        border: red;
    }
}
#brand > div .flex{
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
}
#brand > div .flex h6 {
    font-size: 1rem;
}
#btns{
    display: flex;
    align-items: center;
    gap: 1rem;
}
[class*='btn']{
    background-color: #fff;
    font-size: .9rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--blue);
}
[class*='btn']:is(:hover,:focus){
    outline: var(--blue) solid 2px;
    outline-offset: 2px;
}
[class*='-primary']{
    background: var(--gradient);
    color: #fff;
}
[class*='btn'] img{
    width: 20px;
}
#project{
    display: flex;
    align-items: center;
    padding: 2rem;
    margin-top: 5rem;
    gap: 1rem;
    justify-content: space-between;
}
#project > img{
    width: 500px;
    max-width: 45%;
}
@media screen and (max-width: 570px) {
    #project > img{
     display: none;
    }
    
}
#project > div h5{
    color: var(--blue);
    margin-bottom: .5rem;
}
#project > div h4{
    max-width: 16ch;
    margin-bottom: .7rem;
}
#project > div p {
    max-width: 50ch;
    margin-bottom: 1rem;
}
#project > div a{
    display: inline-flex;
}