/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap'); */
:root {
  --primary: #c300ff;
  --dark: #0c020d;
  --light: #f0f3f5;
  --text-color: #afb1b3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition: all 0.1s ease;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--dark);
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color);
}
img,
svg {
  width: 50px;
}
body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  background-color: var(--dark);
  position: relative;
  line-height: 1.7;
  overflow-x: hidden;
}
header {
  position: fixed !important;
  background-color: var(--dark);
  top: 0;
  left: 0;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 2;
}
header a.logo svg {
  width: 120px;
}
header a.menu svg {
  width: 40px;
}
header nav {
  position: fixed;
  left: 100%;
  top: 0;
  width: 100%;
  background-color: #0c020d5d;
  backdrop-filter: saturate(200%) blur(3px);
  height: 100%;
  transition: left 0.4s ease-in;
}
header nav.active {
  left: 0;
  transition: left 0.2s ease-out;
}
header nav #menu {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  background-color: var(--dark);
  padding: 3rem 1rem 1rem;
  /* gap: 1rem; */
}
header nav #menu a.close {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem 2rem;
}
header nav #menu a.close svg {
  width: 20px;
}
header nav #menu .menu-item {
  display: flex;
  flex-direction: column;
}

header nav #menu .menu-item a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  padding: 1rem;
}
header nav #menu .menu-item a:hover {
  color: var(--light);
}
header nav .footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 5rem;
}
header nav .footer .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header nav .footer .socials a {
  opacity: 0.6;
}
header nav .footer .socials a:hover {
  opacity: 1;
}
header nav .footer img {
  width: 30px;
}
header nav .footer p {
  opacity: 0.5;
  max-width: 40ch;
  font-size: 0.6rem;
}
main {
  margin-top: 6rem;
  margin-inline: auto;
  max-width: 1146px;
}
section {
  padding: 1rem;
}
section#hero {
  /* min-height: 70vh; */
  display: flex;
  color: var(--light);
  justify-content: space-between;
  align-items: center;
}
section#hero > img {
  width: 40%;
}
section#hero .content {
  padding-left: 1.5rem;
}
section#hero .content h1 {
  margin-bottom: 0;
  font-size: 8rem;
  line-height: 1;
}
section#hero .content h1 span {
  color: var(--primary);
}
section#hero .content h4 {
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 1rem;
  position: relative;
}
section#hero .content h4::before {
  position: absolute;
  width: 150px;
  animation: w 3s ease infinite;
  height: 3px;
  content: " ";
  background-color: var(--primary);
  left: 0;
  bottom: 0;
}
@keyframes w {
  0% {
    width: 10px;
  }
  90% {
    width: 50%;
  }
  100% {
    width: 10px;
  }
}
section#hero .content h3 {
  font-size: 2rem;
  line-height: 1;
  /* margin-top: .5rem; */
}
section#hero .content h3 span {
  background-color: var(--primary);
  color: #fff;
  display: inline-block;
  padding-inline: 0.5rem;
}
section#hero .content a.btn {
  background-color: var(--primary);
  display: inline-flex;
  align-items: center;
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 0.85rem;
  color: var(--dark);
  line-height: 1;
  margin: 1rem 0;
  gap: 0.5rem;
}
section#hero .content a.btn img {
  width: 20px;
}
section#hero .content a.btn:hover {
  box-shadow: 0 0 5px 3px var(--primary);
}

section#about {
  margin: 3rem 0;
}
section#about > div {
  display: flex;
  gap: 3rem;
}
section h4 {
  font-size: 1.5rem;
  position: relative;
  color: var(--light);
  display: inline-block;
  margin-bottom: 2.5rem;
}
section h4::before {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: -50%;
  left: 0;
  /* display: block; */
  content: " ";
  background-image: url("../assets/scribble.svg");
  background-repeat: no-repeat;
  background-size: contain;
  /* border: 1px solid red; */
}
section#about h3 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 1rem;
  line-height: 1.3;
}
section#about p {
  margin-bottom: 1rem;
}
section#about .journey {
  flex: 1 1 70%;
}
section#about .experience {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#about .experience p {
  text-align: center;
}
section#about .experience h1 {
  color: #fff;
  font-size: 6rem;
}
section#skills #cards {
  display: grid;
  /* align-items: start; */
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
  margin-bottom: 2rem;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
section#skills #cards .card {
  display: flex;
  flex-direction: column;
}
section#skills #cards .card img {
  height: 70px;
}
section#skills #cards .card h5 {
  color: var(--light);
  line-height: 1;
  margin-top: 1rem;
  font-size: 1.1rem;
}
section#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#projects a{
    color: var(--primary);
}
section #items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  /* justify-content: center; */
  /* gap: 5%; */
  flex-wrap: wrap;
}
section #items .item {
  overflow: hidden;
  height: 300px;
  position: relative;
}
section #items .item:hover{
    scale: 1.1;
}
section #items .item .description {
  position: absolute;
  bottom: -100%;
  color: #fff;
  backdrop-filter: blur(3px);
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #33133db0;
  padding: .5rem;
  font-size: 1rem;
}
section #items .item:hover .description{
    bottom: 0;
}
section #items .item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* section#projects .item {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
section#projects .item img {
  width: 130px;
  cursor: pointer;
  align-self: self-start;
}
section#projects .item h5 {
  color: var(--light);
  font-size: 1.1rem;
}
section#projects .item p {
  font-size: 0.85rem;
}
section#projects a {
  color: var(--primary);
} */
section#contact {
  padding: 3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#contact h4::before {
  background-position: center top;
}
section#contact h3 {
  color: #fff;
  font-size: 2.5rem;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 1rem;
}
section#contact .info {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  gap: 0.5rem;
  text-decoration: none;
  color: var(--text-color);
}
section#contact .info:hover {
  color: var(--primary);
}
section#contact .info img {
  width: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  text-align: center;
  margin-top: 3rem;
  padding: 0.5rem;
}
footer .socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
footer img {
  width: 20px;
}
footer p {
  opacity: 0.85;
}


@media screen and (max-width:700px) {
    section#hero {
        flex-direction: column-reverse;
        gap: 5rem;
    }
    section#hero .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    section#about > div{
        flex-direction: column;
    }
    section #items{
        grid-template-columns: repeat(2, 1fr);
    }
    section#skills #cards{
        grid-template-columns: repeat(3,1fr);
    }
}